.top-bar__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 10px
}

.top-bar__links ul {
    list-style: none;
    display: flex;
}

.top-bar__links ul li {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.top-bar__links ul li img {
    width: 50px;
    height: 50px;
}

.top-bar__links ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;

    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

.top-bar__links ul li a:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    position: relative;
    top: 1px;
}